<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Data" data-toc-modified-id="Import-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Data</a></span></li><li><span><a href="#Update-corrected-FOLLOWUP_DAYS" data-toc-modified-id="Update-corrected-FOLLOWUP_DAYS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Update corrected FOLLOWUP_DAYS</a></span></li><li><span><a href="#Add-self-created-labels-and-attributes" data-toc-modified-id="Add-self-created-labels-and-attributes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Add self created labels and attributes</a></span></li><li><span><a href="#Create-a-df-that-contains-all-time-related-attributes" data-toc-modified-id="Create-a-df-that-contains-all-time-related-attributes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create a df that contains all time related attributes</a></span></li><li><span><a href="#Understand-FOLLOWUP_DAYS" data-toc-modified-id="Understand-FOLLOWUP_DAYS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Understand FOLLOWUP_DAYS</a></span></li><li><span><a href="#Add-attribute-CTB_days" data-toc-modified-id="Add-attribute-CTB_days-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Add attribute CTB_days</a></span></li><li><span><a href="#save-an-updated-version-of-baseline-dataset" data-toc-modified-id="save-an-updated-version-of-baseline-dataset-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>save an updated version of baseline dataset</a></span></li><li><span><a href="#Understand-DAYS_TO_CLOSEST_OFFICE_VISIT" data-toc-modified-id="Understand-DAYS_TO_CLOSEST_OFFICE_VISIT-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Understand DAYS_TO_CLOSEST_OFFICE_VISIT</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

pd.options.display.max_rows = 400
pd.options.display.max_columns = 5

# Import Data

In [2]:
%cd ~/desktop/HF_Research/datasets/processed

admission = pd.read_excel('Filtered Attributes Admission.xlsx', 
                          'NA2030_filtered_admission')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed

In [4]:
baseline = pd.read_excel('Filtered Attributes Baseline.xlsx', 
                          'updated_folup_NA30_baseline')

In [5]:
%cd ~/desktop/HF_Research/datasets

/Users/jinchenxie/Desktop/HF_Research/datasets

In [6]:
raw_admission = pd.read_excel('Advanced Therapy Potential Cohort.xlsx', 
                          'admission (upto 15th)')

# Update corrected FOLLOWUP_DAYS

In [8]:
%cd ~/desktop/HF_Research/datasets/processed
updated_folup = pd.read_excel('Corrected_Followup.xlsx', 
                          '00480_Baseline_Key_20200115_NA')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed

We only need to extract and update the rID in the filtered baseline data

In [9]:
list_rid = list(baseline['rID'])
folup_extracted = updated_folup.loc[updated_folup['rID'].isin(list_rid)]

In [11]:
folup_series = folup_extracted['Corrected_Followup_Days']
folup_series.reset_index(drop=True, inplace=True)
baseline['FOLLOWUP_DAYS'] = folup_series

# Add self created labels and attributes

In [12]:
attris_extracted = raw_admission.loc[raw_admission['rID'].isin(list_rid)]

In [13]:
attris_extracted = attris_extracted[['admission_times', 'last_adm',
       'readmission_days_btw', 'readmit_30_label', 'inhospital_ctb_label',
       'ctb_label']]

In [14]:
admission = pd.concat([admission, attris_extracted], axis=1)

In [15]:
admission.columns

Index(['rID', 'INDEX_HOSPITALIZATION', 'READMISSION_DAYS', 'LOS_DAYS',
       'HOSP_CR', 'HOSP_INR', 'HOSP_NA', 'HOSP_EGFR', 'AGE_ADMISSION',
       'ADMISSION_SOURCE', 'IPOP', 'PATIENT_TYPE_DESCRIPTION', 'DISPOSITION',
       'CABG', 'CABG_DAYS', 'TAVR', 'TAVR_DAYS', 'SAVR_MECH', 'SAVR_MECH_DAYS',
       'SAVR_BIO', 'SAVR_BIO_DAYS', 'SURG_AO_GRFT', 'SURG_AO_GRFT_DAYS',
       'ENDO_AO_GRFT', 'ENDO_AO_GRFT_DAYS', 'AO_VLV_REPAIR',
       'AO_VLV_REPAIR_DAYS', 'SMVR', 'SMVR_DAYS', 'SPVR', 'SPVR_DAYS', 'STVR',
       'STVR_DAYS', 'POST_VAD', 'POST_VAD_DAYS', 'POST_TRANSPLANT',
       'POST_TRANSPLANT_DAYS', 'WBC', 'WBC_DAYS', 'HGB', 'HGB_DAYS', 'CR',
       'CR_DAYS', 'EGFR', 'EGFR_DAYS', 'K', 'K_DAYS', 'NA', 'NA_DAYS',
       'GLUCOSE', 'GLUCOSE_DAYS', 'PLATELETS', 'PLATELETS_DAYS', 'HCT',
       'HCT_DAYS', 'RHC_FOUND', 'NONCARDIACFLAG', 'CARDIACFLAG', 'MIFLAG',
       'HFFLAG', 'H_STROKEFLAG', 'I_STROKEFLAG', 'BLEEDFLAG', 'AFIBFLAG',
       'CKDFLAG', 'ARRESTFLAG', 'VTACHFLAG', 'VFIBFLAG', 'PCI', 'PCI_DAYS',
       'IMPELLA', 'IMPELLA_DAYS', 'IABP', 'IABP_DAYS', 'ECMO', 'ECMO_DAYS',
       'ABLATION', 'ABLATION_DAYS', 'PACEMAKER_IMPLANT',
       'PACEMAKER_IMPLANT_DAYS', 'ICD_IMPLANT', 'ICD_IMPLANT_DAYS',
       'BIV_ICD_IMPLANT', 'BIV_ICD_IMPLANT_DAYS', 'CRT_IMPLANT',
       'CRT_IMPLANT_DAYS', 'admission_times', 'last_adm',
       'readmission_days_btw', 'readmit_30_label', 'inhospital_ctb_label',
       'ctb_label'],
      dtype='object')

In [16]:
admission.shape

(12525, 92)

In [17]:
raw_admission.shape

(12525, 175)

In [18]:
%cd ~/desktop/HF_Research/datasets/processed
writer = pd.ExcelWriter('Filtered Attributes Admission.xlsx')
admission.to_excel(writer, 'NA2030_filtered_admission')
writer.save()
print('DataFrame is written successfully to Excel File.')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed
DataFrame is written successfully to Excel File.

# Create a df that contains all time related attributes

In [76]:
admission_time_attris = admission[['rID','LOS_DAYS','READMISSION_DAYS',
                                   'readmission_days_btw','DISPOSITION']]
baseline_time_attris = baseline[['rID','DAYS_TO_CLOSEST_OFFICE_VISIT','FOLLOWUP_DAYS']]

# Understand FOLLOWUP_DAYS

rID: 120

In [77]:
admission_time_attris.loc[admission_time_attris['rID']==120]

    rID  LOS_DAYS  READMISSION_DAYS  readmission_days_btw         DISPOSITION
90  120     3.927               NaN                24.299      HOME/SELF CARE
91  120     4.781            24.299                 9.987      HOME/SELF CARE
92  120     9.832            39.067                44.874  HOME HEALTH AGENCY
93  120    33.253            93.773                 0.000                 CTB

In [78]:
baseline_time_attris[baseline_time_attris['rID']==120]

    rID  DAYS_TO_CLOSEST_OFFICE_VISIT  FOLLOWUP_DAYS
19  120                            81          131.0

rID: 16

In [88]:
admission_time_attris.loc[admission_time_attris['rID']==16]

,rID,LOS_DAYS,READMISSION_DAYS,readmission_days_btw,DISPOSITION
6,16,9.145,NaN,93.290,REHAB/INPT REHAB UNT
7,16,3.655,93.290,28.808,REHAB/INPT REHAB UNT
8,16,5.087,125.753,89.773,SKILLED NURS FACIL
9,16,1.377,220.613,63.213,SKILLED NURS FACIL
10,16,2.816,285.203,0.000,SKILLED NURS FACIL

In [89]:
baseline_time_attris[baseline_time_attris['rID']==16]

   rID  DAYS_TO_CLOSEST_OFFICE_VISIT  FOLLOWUP_DAYS
2   16                             0          515.0

In [90]:
285.203 + 2.816

288.01899999999995

In [93]:
admission_time_attris.loc[admission_time_attris['rID']==31]

    rID  LOS_DAYS  READMISSION_DAYS  readmission_days_btw         DISPOSITION
12   31     3.409               NaN                 6.731      HOME/SELF CARE
13   31     6.273             6.731              1825.602  HOME HEALTH AGENCY
14   31     1.416          1838.606                22.520  HOME HEALTH AGENCY
15   31     4.474          1862.542                 0.000      HOME/SELF CARE

In [92]:
baseline_time_attris[baseline_time_attris['rID']==31]

   rID  DAYS_TO_CLOSEST_OFFICE_VISIT  FOLLOWUP_DAYS
4   31                             8         2025.0

In [94]:
1862.542 + 4.474

1867.0159999999998

# Add attribute CTB_days 
CTB_days = mortality date - last discharge date

In [106]:
baseline['CTB_days'] = np.nan

---------------------------------------------------------------------------
For inhospital mortality patients, set their CTB_days = 0.

In [98]:
list_rid = admission.loc[admission['DISPOSITION']=='CTB'].rID

In [100]:
inhos_ctb_baseline = baseline.loc[baseline['rID'].isin(list_rid)]

In [109]:
baseline.set_value(inhos_ctb_baseline.index, 'CTB_days', 0)

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

        rID  LOS_DAYS  ...  FOLLOWUP_DAYS  CTB_days
0         5     3.121  ...         1344.0       NaN
1        10     3.860  ...         1326.0       NaN
2        16     9.145  ...          515.0       NaN
3        28     3.076  ...         1520.0       NaN
4        31     3.409  ...         2025.0       NaN
...     ...       ...  ...            ...       ...
2516  12247    13.016  ...         2555.0       NaN
2517  12253     1.869  ...          222.0       NaN
2518  12260     6.540  ...         1204.0       NaN
2519  12263    11.833  ...          769.0       0.0
2520  12280    11.696  ...         2119.0       NaN

[2521 rows x 143 columns]

---------------------------------------------------------------------------
For mortality patients but not inhospital mortality, for more than 1 hospitalization CTB_days = FOLLOWUP_DAYS - (READMISSION_DAYS for last admission + LOS_DAYS for last admission)   
for only 1 hospitalization, CTB_days = FOLLOWUP_DAYS

In [164]:
list_rid = list(admission.loc[(admission['INDEX_HOSPITALIZATION']==0) &
                               (admission['last_adm']==1) & (admission['DISPOSITION']!='CTB')].rID)

In [165]:
ctb_rid = list(baseline.loc[baseline['CTB']==1].rID)

In [166]:
list_rid_2 = [i for i in list_rid if i in ctb_rid]

In [167]:
out_ctb_baseline = baseline.loc[baseline['rID'].isin(list_rid_2)]

out_ctb_admission = admission.loc[(admission['last_adm']==1) & (admission['rID'].isin(list_rid_2))]

In [168]:
out_ctb_df = out_ctb_admission[['rID','LOS_DAYS','READMISSION_DAYS']]

In [169]:
out_ctb_df.fillna(value=0, inplace=True)

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/pandas/core/frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [170]:
out_ctb_df['last_discharge_days'] = out_ctb_df['LOS_DAYS'] + out_ctb_df['READMISSION_DAYS']

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [171]:
out_ctb_series = out_ctb_df['last_discharge_days']
out_ctb_series.reset_index(drop=True, inplace=True)
out_ctb_list = list(out_ctb_series)

In [172]:
out_ctb_baseline[['rID','FOLLOWUP_DAYS']]

        rID  FOLLOWUP_DAYS
2        16          515.0
8        52          276.0
10       74          103.0
11       77          328.0
15      103          553.0
...     ...            ...
2502  12188          270.0
2503  12196          471.0
2515  12244          127.0
2517  12253          222.0
2518  12260         1204.0

[577 rows x 2 columns]

In [173]:
out_ctb_baseline['last_discharge_days'] = out_ctb_list

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [174]:
out_ctb_baseline[['rID','FOLLOWUP_DAYS','last_discharge_days']]

        rID  FOLLOWUP_DAYS  last_discharge_days
2        16          515.0              288.019
8        52          276.0              254.125
10       74          103.0               68.959
11       77          328.0              324.057
15      103          553.0              541.252
...     ...            ...                  ...
2502  12188          270.0              159.087
2503  12196          471.0              132.652
2515  12244          127.0              123.954
2517  12253          222.0              201.209
2518  12260         1204.0              888.016

[577 rows x 3 columns]

In [175]:
out_ctb_baseline['ctb_days'] = out_ctb_baseline['FOLLOWUP_DAYS'] - out_ctb_baseline['last_discharge_days']

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [176]:
out_ctb_baseline[['FOLLOWUP_DAYS','last_discharge_days','ctb_days']]

      FOLLOWUP_DAYS  last_discharge_days  ctb_days
2             515.0              288.019   226.981
8             276.0              254.125    21.875
10            103.0               68.959    34.041
11            328.0              324.057     3.943
15            553.0              541.252    11.748
...             ...                  ...       ...
2502          270.0              159.087   110.913
2503          471.0              132.652   338.348
2515          127.0              123.954     3.046
2517          222.0              201.209    20.791
2518         1204.0              888.016   315.984

[577 rows x 3 columns]

In [201]:
baseline.set_value(out_ctb_baseline.index, 'CTB_days', out_ctb_baseline['ctb_days'])

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

        rID  LOS_DAYS  ...  FOLLOWUP_DAYS  CTB_days
0         5     3.121  ...         1344.0       NaN
1        10     3.860  ...         1326.0       NaN
2        16     9.145  ...          515.0   226.981
3        28     3.076  ...         1520.0       NaN
4        31     3.409  ...         2025.0       NaN
...     ...       ...  ...            ...       ...
2516  12247    13.016  ...         2555.0       NaN
2517  12253     1.869  ...          222.0    20.791
2518  12260     6.540  ...         1204.0   315.984
2519  12263    11.833  ...          769.0     0.000
2520  12280    11.696  ...         2119.0       NaN

[2521 rows x 143 columns]

In [202]:
list_rid = list(admission.loc[(admission['INDEX_HOSPITALIZATION']==1) &
                               (admission['last_adm']==1) & (admission['DISPOSITION']!='CTB')].rID)

In [203]:
list_rid_2 = [i for i in list_rid if i in ctb_rid]

In [205]:
out_ctb_baseline_only1 = baseline.loc[baseline['rID'].isin(list_rid_2)]
out_ctb_admission_only1 = admission.loc[(admission['last_adm']==1) & (admission['rID'].isin(list_rid_2))]

In [207]:
out_ctb_baseline_only1['ctb_days'] = out_ctb_baseline_only1['FOLLOWUP_DAYS']

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [208]:
out_ctb_baseline_only1[['rID','FOLLOWUP_DAYS','ctb_days']]

        rID  FOLLOWUP_DAYS  ctb_days
14       93           15.0      15.0
40      210          168.0     168.0
58      289          347.0     347.0
67      355            4.0       4.0
150     740           82.0      82.0
180     870           33.0      33.0
210     995          428.0     428.0
233    1134           90.0      90.0
276    1366           53.0      53.0
287    1416          275.0     275.0
297    1454           12.0      12.0
345    1709          194.0     194.0
389    1958           17.0      17.0
396    1986          115.0     115.0
442    2201          327.0     327.0
449    2225            1.0       1.0
474    2371          241.0     241.0
479    2392          127.0     127.0
491    2478         1563.0    1563.0
492    2482          464.0     464.0
509    2573          613.0     613.0
514    2603          397.0     397.0
518    2633          188.0     188.0
519    2634          269.0     269.0
528    2670          900.0     900.0
540    2733           18.0      18.0
553    2801          106.0     106.0
596    3030          176.0     176.0
608    3070          113.0     113.0
637    3249          113.0     113.0
652    3321           64.0      64.0
685    3528          759.0     759.0
706    3613         1665.0    1665.0
709    3628            1.0       1.0
770    3935           22.0      22.0
775    3952          362.0     362.0
784    4018          281.0     281.0
789    4058         1148.0    1148.0
818    4247           25.0      25.0
844    4421          140.0     140.0
855    4463          102.0     102.0
868    4530           66.0      66.0
878    4560         1660.0    1660.0
910    4719          104.0     104.0
941    4854          390.0     390.0
969    4967          595.0     595.0
997    5112           39.0      39.0
1000   5140           56.0      56.0
1016   5221           42.0      42.0
1048   5375          171.0     171.0
1066   5480          127.0     127.0
1098   5619         1664.0    1664.0
1101   5634         1301.0    1301.0
1156   5948          118.0     118.0
1171   6011          844.0     844.0
1181   6055          151.0     151.0
1194   6127          265.0     265.0
1196   6138         1101.0    1101.0
1224   6232          732.0     732.0
1226   6237          602.0     602.0
1254   6355         1468.0    1468.0
1266   6426           16.0      16.0
1296   6560          116.0     116.0
1304   6583           19.0      19.0
1328   6720           26.0      26.0
1335   6755          531.0     531.0
1381   6984           54.0      54.0
1391   7029           29.0      29.0
1400   7064         1193.0    1193.0
1432   7236           10.0      10.0
1437   7252           20.0      20.0
1456   7324          108.0     108.0
1470   7391          271.0     271.0
1485   7434          159.0     159.0
1512   7539           33.0      33.0
1619   8093          114.0     114.0
1660   8266          202.0     202.0
1679   8351           62.0      62.0
1682   8358           17.0      17.0
1690   8376           13.0      13.0
1716   8473           23.0      23.0
1738   8578          671.0     671.0
1762   8691         1584.0    1584.0
1775   8737          197.0     197.0
1785   8786           20.0      20.0
1789   8792         1798.0    1798.0
1805   8857          161.0     161.0
1846   9068          289.0     289.0
1930   9510          167.0     167.0
1968   9673           19.0      19.0
1977   9701          112.0     112.0
2004   9809         1906.0    1906.0
2014   9853           88.0      88.0
2062  10058           48.0      48.0
2125  10328          642.0     642.0
2176  10644           52.0      52.0
2185  10680           49.0      49.0
2190  10708          354.0     354.0
2244  10921          360.0     360.0
2264  11002         1037.0    1037.0
2297  11149          145.0     145.0
2352  11417          144.0     144.0
2362  11490           96.0      96.0
2363  11491         1321.0    1321.0
2373  11526          217.0     217.0
2422  11749          943.0     943.0
2509  12224           16.0      16.0

In [209]:
baseline.set_value(out_ctb_baseline_only1.index, 'CTB_days', out_ctb_baseline_only1['ctb_days'])

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

        rID  LOS_DAYS  ...  FOLLOWUP_DAYS  CTB_days
0         5     3.121  ...         1344.0       NaN
1        10     3.860  ...         1326.0       NaN
2        16     9.145  ...          515.0   226.981
3        28     3.076  ...         1520.0       NaN
4        31     3.409  ...         2025.0       NaN
...     ...       ...  ...            ...       ...
2516  12247    13.016  ...         2555.0       NaN
2517  12253     1.869  ...          222.0    20.791
2518  12260     6.540  ...         1204.0   315.984
2519  12263    11.833  ...          769.0     0.000
2520  12280    11.696  ...         2119.0       NaN

[2521 rows x 143 columns]

In [231]:
baseline[baseline['rID'].isin([1533,2580,7925,9143])][['rID','CTB_days']]

       rID  CTB_days
322   1533    -0.020
512   2580    -0.110
1585  7925    -0.029
1865  9143    -0.058

# save an updated version of baseline dataset

In [229]:
%cd ~/desktop/HF_Research/datasets/processed
writer = pd.ExcelWriter('Filtered Attributes Baseline.xlsx')
baseline.to_excel(writer, 'updated_folup_NA30_baseline')
writer.save()
print('DataFrame is written successfully to Excel File.')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed
DataFrame is written successfully to Excel File.

# Understand DAYS_TO_CLOSEST_OFFICE_VISIT
initial admission date - office visit date

In [232]:
baseline[['rID','DAYS_TO_CLOSEST_OFFICE_VISIT']]

        rID  DAYS_TO_CLOSEST_OFFICE_VISIT
0         5                           -63
1        10                            -3
2        16                             0
3        28                             6
4        31                             8
...     ...                           ...
2516  12247                            -2
2517  12253                             7
2518  12260                            51
2519  12263                            61
2520  12280                            24

[2521 rows x 2 columns]

POSITIVE or ZERO DAYS_TO_CLOSEST_OFFICE_VISIT means the office visit happens before initial admissions, it's the simple and clear situation.  
____
___
We need to pay special attention to negative DAYS_TO_CLOSEST_OFFICE_VISIT values.

In [233]:
neg_office_baseline = baseline.loc[baseline['DAYS_TO_CLOSEST_OFFICE_VISIT']<0]
neg_office_rid = neg_office_baseline.rID
neg_office_admission = admission.loc[admission['rID'].isin(neg_office_rid)]

In [242]:
neg_office_baseline.shape

(835, 143)

In [240]:
neg_office_baseline[['rID','LOS_DAYS','DAYS_TO_CLOSEST_OFFICE_VISIT']][:10]

    rID  LOS_DAYS  DAYS_TO_CLOSEST_OFFICE_VISIT
0     5     3.121                           -63
1    10     3.860                            -3
8    52     5.285                           -13
9    55    34.153                            -1
11   77     2.015                           -10
17  114     0.896                           -14
27  163     1.363                            -1
28  165    31.144                           -10
29  167    15.960                            -8
32  175     3.363                           -77

In [241]:
neg_office_admission[['rID','LOS_DAYS','READMISSION_DAYS','readmission_days_btw']][:30]

    rID  LOS_DAYS  READMISSION_DAYS  readmission_days_btw
0     5     3.121               NaN                58.847
1     5     2.394            58.847               539.732
2     5     2.194           600.973                94.125
3     5     0.892           697.292                 0.000
4    10     3.860               NaN              1126.127
5    10     2.214          1126.127                 0.000
29   52     5.285               NaN                37.047
30   52     0.896            37.047                15.558
31   52     3.552            53.501                27.732
32   52     1.365            84.785                12.440
33   52     3.487            98.590                52.775
34   52     3.276           154.852                 5.619
35   52     6.178           163.747                71.939
36   52     3.472           241.864                 2.149
37   52     6.640           247.485                 0.000
38   55    34.153               NaN                 0.000
41   77     2.015               NaN                 3.580
42   77     3.483             3.580                 3.481
43   77     6.422            10.544                26.686
44   77     3.447            43.652                11.669
45   77    30.443            58.768                45.815
46   77     3.177           135.026                45.919
47   77     2.986           184.122                22.877
48   77     5.095           209.985                72.978
49   77    35.999           288.058                 0.000
72  114     0.896               NaN                36.111
73  114     1.090            36.111              1027.753
74  114     2.197          1064.954                31.946
75  114     1.935          1099.097              1007.440
76  114     1.646          2108.472                50.172

In [244]:
3.121+58.847+2.394

64.36200000000001