<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Data" data-toc-modified-id="Import-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Data</a></span></li><li><span><a href="#Update-corrected-FOLLOWUP_DAYS" data-toc-modified-id="Update-corrected-FOLLOWUP_DAYS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Update corrected FOLLOWUP_DAYS</a></span></li><li><span><a href="#Add-self-created-labels-and-attributes" data-toc-modified-id="Add-self-created-labels-and-attributes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Add self created labels and attributes</a></span></li><li><span><a href="#Create-a-df-that-contains-all-time-related-attributes" data-toc-modified-id="Create-a-df-that-contains-all-time-related-attributes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create a df that contains all time related attributes</a></span></li><li><span><a href="#Understand-FOLLOWUP_DAYS" data-toc-modified-id="Understand-FOLLOWUP_DAYS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Understand FOLLOWUP_DAYS</a></span></li><li><span><a href="#Add-attribute-CTB_days" data-toc-modified-id="Add-attribute-CTB_days-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Add attribute CTB_days</a></span></li><li><span><a href="#save-an-updated-version-of-baseline-dataset" data-toc-modified-id="save-an-updated-version-of-baseline-dataset-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>save an updated version of baseline dataset</a></span></li><li><span><a href="#Understand-DAYS_TO_CLOSEST_OFFICE_VISIT" data-toc-modified-id="Understand-DAYS_TO_CLOSEST_OFFICE_VISIT-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Understand DAYS_TO_CLOSEST_OFFICE_VISIT</a></span></li></ul></div>

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

pd.options.display.max_rows = 400
pd.options.display.max_columns = 5

# Import Data

In [2]:
%cd ~/desktop/HF_Research/datasets/processed

admission = pd.read_excel('Filtered Attributes Admission.xlsx', 
                          'NA2030_filtered_admission')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed

In [6]:
%cd ~/desktop/datasets/processed
baseline = pd.read_excel('Filtered Attributes Baseline.xlsx', 
                          'Sheet 1')

/Users/jinchenxie/Desktop/datasets/processed

In [5]:
%cd ~/desktop/HF_Research/datasets

/Users/jinchenxie/Desktop/HF_Research/datasets

In [6]:
raw_admission = pd.read_excel('Advanced Therapy Potential Cohort.xlsx', 
                          'admission (upto 15th)')

# Update corrected FOLLOWUP_DAYS

In [8]:
%cd ~/desktop/HF_Research/datasets/processed
updated_folup = pd.read_excel('Corrected_Followup.xlsx', 
                          '00480_Baseline_Key_20200115_NA')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed

We only need to extract and update the rID in the filtered baseline data

In [9]:
list_rid = list(baseline['rID'])
folup_extracted = updated_folup.loc[updated_folup['rID'].isin(list_rid)]

In [11]:
folup_series = folup_extracted['Corrected_Followup_Days']
folup_series.reset_index(drop=True, inplace=True)
baseline['FOLLOWUP_DAYS'] = folup_series

# Add self created labels and attributes

In [12]:
attris_extracted = raw_admission.loc[raw_admission['rID'].isin(list_rid)]

In [13]:
attris_extracted = attris_extracted[['admission_times', 'last_adm',
       'readmission_days_btw', 'readmit_30_label', 'inhospital_ctb_label',
       'ctb_label']]

In [14]:
admission = pd.concat([admission, attris_extracted], axis=1)

In [15]:
admission.columns

Index(['rID', 'INDEX_HOSPITALIZATION', 'READMISSION_DAYS', 'LOS_DAYS',
       'HOSP_CR', 'HOSP_INR', 'HOSP_NA', 'HOSP_EGFR', 'AGE_ADMISSION',
       'ADMISSION_SOURCE', 'IPOP', 'PATIENT_TYPE_DESCRIPTION', 'DISPOSITION',
       'CABG', 'CABG_DAYS', 'TAVR', 'TAVR_DAYS', 'SAVR_MECH', 'SAVR_MECH_DAYS',
       'SAVR_BIO', 'SAVR_BIO_DAYS', 'SURG_AO_GRFT', 'SURG_AO_GRFT_DAYS',
       'ENDO_AO_GRFT', 'ENDO_AO_GRFT_DAYS', 'AO_VLV_REPAIR',
       'AO_VLV_REPAIR_DAYS', 'SMVR', 'SMVR_DAYS', 'SPVR', 'SPVR_DAYS', 'STVR',
       'STVR_DAYS', 'POST_VAD', 'POST_VAD_DAYS', 'POST_TRANSPLANT',
       'POST_TRANSPLANT_DAYS', 'WBC', 'WBC_DAYS', 'HGB', 'HGB_DAYS', 'CR',
       'CR_DAYS', 'EGFR', 'EGFR_DAYS', 'K', 'K_DAYS', 'NA', 'NA_DAYS',
       'GLUCOSE', 'GLUCOSE_DAYS', 'PLATELETS', 'PLATELETS_DAYS', 'HCT',
       'HCT_DAYS', 'RHC_FOUND', 'NONCARDIACFLAG', 'CARDIACFLAG', 'MIFLAG',
       'HFFLAG', 'H_STROKEFLAG', 'I_STROKEFLAG', 'BLEEDFLAG', 'AFIBFLAG',
       'CKDFLAG', 'ARRESTFLAG', 'VTACHFLAG', 'VFIBFLAG', 'PCI', 'PCI_DAYS',
       'IMPELLA', 'IMPELLA_DAYS', 'IABP', 'IABP_DAYS', 'ECMO', 'ECMO_DAYS',
       'ABLATION', 'ABLATION_DAYS', 'PACEMAKER_IMPLANT',
       'PACEMAKER_IMPLANT_DAYS', 'ICD_IMPLANT', 'ICD_IMPLANT_DAYS',
       'BIV_ICD_IMPLANT', 'BIV_ICD_IMPLANT_DAYS', 'CRT_IMPLANT',
       'CRT_IMPLANT_DAYS', 'admission_times', 'last_adm',
       'readmission_days_btw', 'readmit_30_label', 'inhospital_ctb_label',
       'ctb_label'],
      dtype='object')

In [16]:
admission.shape

(12525, 92)

In [17]:
raw_admission.shape

(12525, 175)

In [18]:
%cd ~/desktop/HF_Research/datasets/processed
writer = pd.ExcelWriter('Filtered Attributes Admission.xlsx')
admission.to_excel(writer, 'NA2030_filtered_admission')
writer.save()
print('DataFrame is written successfully to Excel File.')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed
DataFrame is written successfully to Excel File.

# Create a df that contains all time related attributes

In [76]:
admission_time_attris = admission[['rID','LOS_DAYS','READMISSION_DAYS',
                                   'readmission_days_btw','DISPOSITION']]
baseline_time_attris = baseline[['rID','DAYS_TO_CLOSEST_OFFICE_VISIT','FOLLOWUP_DAYS']]

# Understand FOLLOWUP_DAYS

rID: 120

In [77]:
admission_time_attris.loc[admission_time_attris['rID']==120]

    rID  LOS_DAYS  READMISSION_DAYS  readmission_days_btw         DISPOSITION
90  120     3.927               NaN                24.299      HOME/SELF CARE
91  120     4.781            24.299                 9.987      HOME/SELF CARE
92  120     9.832            39.067                44.874  HOME HEALTH AGENCY
93  120    33.253            93.773                 0.000                 CTB

In [78]:
baseline_time_attris[baseline_time_attris['rID']==120]

    rID  DAYS_TO_CLOSEST_OFFICE_VISIT  FOLLOWUP_DAYS
19  120                            81          131.0

rID: 16

In [88]:
admission_time_attris.loc[admission_time_attris['rID']==16]

,rID,LOS_DAYS,READMISSION_DAYS,readmission_days_btw,DISPOSITION
6,16,9.145,NaN,93.290,REHAB/INPT REHAB UNT
7,16,3.655,93.290,28.808,REHAB/INPT REHAB UNT
8,16,5.087,125.753,89.773,SKILLED NURS FACIL
9,16,1.377,220.613,63.213,SKILLED NURS FACIL
10,16,2.816,285.203,0.000,SKILLED NURS FACIL

In [89]:
baseline_time_attris[baseline_time_attris['rID']==16]

   rID  DAYS_TO_CLOSEST_OFFICE_VISIT  FOLLOWUP_DAYS
2   16                             0          515.0

In [90]:
285.203 + 2.816

288.01899999999995

In [93]:
admission_time_attris.loc[admission_time_attris['rID']==31]

    rID  LOS_DAYS  READMISSION_DAYS  readmission_days_btw         DISPOSITION
12   31     3.409               NaN                 6.731      HOME/SELF CARE
13   31     6.273             6.731              1825.602  HOME HEALTH AGENCY
14   31     1.416          1838.606                22.520  HOME HEALTH AGENCY
15   31     4.474          1862.542                 0.000      HOME/SELF CARE

In [92]:
baseline_time_attris[baseline_time_attris['rID']==31]

   rID  DAYS_TO_CLOSEST_OFFICE_VISIT  FOLLOWUP_DAYS
4   31                             8         2025.0

In [94]:
1862.542 + 4.474

1867.0159999999998

# Add attribute CTB_days 
CTB_days = mortality date - last discharge date

In [106]:
baseline['CTB_days'] = np.nan
list_rid = admission.loc[admission['DISPOSITION']=='CTB'].rID
inhos_ctb_baseline = baseline.loc[baseline['rID'].isin(list_rid)]
baseline.set_value(inhos_ctb_baseline.index, 'CTB_days', 0)

# For mortality patients but not inhospital mortality, for more than 1 hospitalization CTB_days = FOLLOWUP_DAYS - (READMISSION_DAYS for last admission + LOS_DAYS for last admission)   
# for only 1 hospitalization, CTB_days = FOLLOWUP_DAYS

list_rid = list(admission.loc[(admission['INDEX_HOSPITALIZATION']==0) &
                               (admission['last_adm']==1) & (admission['DISPOSITION']!='CTB')].rID)

ctb_rid = list(baseline.loc[baseline['CTB']==1].rID)

list_rid_2 = [i for i in list_rid if i in ctb_rid]

out_ctb_baseline = baseline.loc[baseline['rID'].isin(list_rid_2)]

out_ctb_admission = admission.loc[(admission['last_adm']==1) & (admission['rID'].isin(list_rid_2))]

out_ctb_df = out_ctb_admission[['rID','LOS_DAYS','READMISSION_DAYS']]

out_ctb_df.fillna(value=0, inplace=True)

out_ctb_df['last_discharge_days'] = out_ctb_df['LOS_DAYS'] + out_ctb_df['READMISSION_DAYS']

out_ctb_series = out_ctb_df['last_discharge_days']
out_ctb_series.reset_index(drop=True, inplace=True)
out_ctb_list = list(out_ctb_series)

out_ctb_baseline[['rID','FOLLOWUP_DAYS']]

out_ctb_baseline['last_discharge_days'] = out_ctb_list

out_ctb_baseline[['rID','FOLLOWUP_DAYS','last_discharge_days']]

out_ctb_baseline['ctb_days'] = out_ctb_baseline['FOLLOWUP_DAYS'] - out_ctb_baseline['last_discharge_days']

out_ctb_baseline[['FOLLOWUP_DAYS','last_discharge_days','ctb_days']]

baseline.set_value(out_ctb_baseline.index, 'CTB_days', out_ctb_baseline['ctb_days'])

list_rid = list(admission.loc[(admission['INDEX_HOSPITALIZATION']==1) &
                               (admission['last_adm']==1) & (admission['DISPOSITION']!='CTB')].rID)

list_rid_2 = [i for i in list_rid if i in ctb_rid]

out_ctb_baseline_only1 = baseline.loc[baseline['rID'].isin(list_rid_2)]
out_ctb_admission_only1 = admission.loc[(admission['last_adm']==1) & (admission['rID'].isin(list_rid_2))]

out_ctb_baseline_only1['ctb_days'] = out_ctb_baseline_only1['FOLLOWUP_DAYS']

out_ctb_baseline_only1[['rID','FOLLOWUP_DAYS','ctb_days']]

baseline.set_value(out_ctb_baseline_only1.index, 'CTB_days', out_ctb_baseline_only1['ctb_days'])

In [7]:
baseline[baseline['CTB']==1].shape

(1228, 145)

In [8]:
baseline.shape[0]-baseline[baseline['CTB_days'].isna()].shape[0]

1093

In [231]:
baseline[baseline['rID'].isin([1533,2580,7925,9143])][['rID','CTB_days']]

       rID  CTB_days
322   1533    -0.020
512   2580    -0.110
1585  7925    -0.029
1865  9143    -0.058

# save an updated version of baseline dataset

In [229]:
%cd ~/desktop/HF_Research/datasets/processed
writer = pd.ExcelWriter('Filtered Attributes Baseline.xlsx')
baseline.to_excel(writer, 'updated_folup_NA30_baseline')
writer.save()
print('DataFrame is written successfully to Excel File.')

/Users/jinchenxie/Desktop/HF_Research/datasets/processed
DataFrame is written successfully to Excel File.

# Understand DAYS_TO_CLOSEST_OFFICE_VISIT
initial admission date - office visit date

In [232]:
baseline[['rID','DAYS_TO_CLOSEST_OFFICE_VISIT']]

        rID  DAYS_TO_CLOSEST_OFFICE_VISIT
0         5                           -63
1        10                            -3
2        16                             0
3        28                             6
4        31                             8
...     ...                           ...
2516  12247                            -2
2517  12253                             7
2518  12260                            51
2519  12263                            61
2520  12280                            24

[2521 rows x 2 columns]

POSITIVE or ZERO DAYS_TO_CLOSEST_OFFICE_VISIT means the office visit happens before initial admissions, it's the simple and clear situation.  
____
___
We need to pay special attention to negative DAYS_TO_CLOSEST_OFFICE_VISIT values.

In [233]:
neg_office_baseline = baseline.loc[baseline['DAYS_TO_CLOSEST_OFFICE_VISIT']<0]
neg_office_rid = neg_office_baseline.rID
neg_office_admission = admission.loc[admission['rID'].isin(neg_office_rid)]

In [242]:
neg_office_baseline.shape

(835, 143)

In [240]:
neg_office_baseline[['rID','LOS_DAYS','DAYS_TO_CLOSEST_OFFICE_VISIT']][:10]

    rID  LOS_DAYS  DAYS_TO_CLOSEST_OFFICE_VISIT
0     5     3.121                           -63
1    10     3.860                            -3
8    52     5.285                           -13
9    55    34.153                            -1
11   77     2.015                           -10
17  114     0.896                           -14
27  163     1.363                            -1
28  165    31.144                           -10
29  167    15.960                            -8
32  175     3.363                           -77

In [241]:
neg_office_admission[['rID','LOS_DAYS','READMISSION_DAYS','readmission_days_btw']][:30]

    rID  LOS_DAYS  READMISSION_DAYS  readmission_days_btw
0     5     3.121               NaN                58.847
1     5     2.394            58.847               539.732
2     5     2.194           600.973                94.125
3     5     0.892           697.292                 0.000
4    10     3.860               NaN              1126.127
5    10     2.214          1126.127                 0.000
29   52     5.285               NaN                37.047
30   52     0.896            37.047                15.558
31   52     3.552            53.501                27.732
32   52     1.365            84.785                12.440
33   52     3.487            98.590                52.775
34   52     3.276           154.852                 5.619
35   52     6.178           163.747                71.939
36   52     3.472           241.864                 2.149
37   52     6.640           247.485                 0.000
38   55    34.153               NaN                 0.000
41   77     2.015               NaN                 3.580
42   77     3.483             3.580                 3.481
43   77     6.422            10.544                26.686
44   77     3.447            43.652                11.669
45   77    30.443            58.768                45.815
46   77     3.177           135.026                45.919
47   77     2.986           184.122                22.877
48   77     5.095           209.985                72.978
49   77    35.999           288.058                 0.000
72  114     0.896               NaN                36.111
73  114     1.090            36.111              1027.753
74  114     2.197          1064.954                31.946
75  114     1.935          1099.097              1007.440
76  114     1.646          2108.472                50.172

In [244]:
3.121+58.847+2.394

64.36200000000001