<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-data" data-toc-modified-id="Import-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import data</a></span></li><li><span><a href="#create-'readmit_30'-label-in-baseline-data" data-toc-modified-id="create-'readmit_30'-label-in-baseline-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>create 'readmit_30' label in baseline data</a></span></li><li><span><a href="#Extract-only-attributes-in-the-'Static-Characteristic'-dict" data-toc-modified-id="Extract-only-attributes-in-the-'Static-Characteristic'-dict-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Extract only attributes in the 'Static Characteristic' dict</a></span></li><li><span><a href="#Normalize-numeric-attributes" data-toc-modified-id="Normalize-numeric-attributes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Normalize numeric attributes</a></span></li><li><span><a href="#One-hot-representation-for-categorical-attributes" data-toc-modified-id="One-hot-representation-for-categorical-attributes-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>One-hot representation for categorical attributes</a></span><ul class="toc-item"><li><span><a href="#RACE" data-toc-modified-id="RACE-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>RACE</a></span></li><li><span><a href="#TOBACCO-STATUS" data-toc-modified-id="TOBACCO-STATUS-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>TOBACCO STATUS</a></span></li><li><span><a href="#Insurance-Payer" data-toc-modified-id="Insurance-Payer-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Insurance Payer</a></span></li></ul></li><li><span><a href="#Save-the-cleaned-and-processed-dataset" data-toc-modified-id="Save-the-cleaned-and-processed-dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Save the cleaned and processed dataset</a></span></li><li><span><a href="#Office-visit-attributes" data-toc-modified-id="Office-visit-attributes-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Office visit attributes</a></span><ul class="toc-item"><li><span><a href="#Mean-imputation-on-office-measurements-except-BMI" data-toc-modified-id="Mean-imputation-on-office-measurements-except-BMI-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Mean imputation on office measurements except BMI</a></span></li><li><span><a href="#Mean-Imputation-on-BMI" data-toc-modified-id="Mean-Imputation-on-BMI-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Mean Imputation on BMI</a></span></li><li><span><a href="#Normalize-numeric-attributes" data-toc-modified-id="Normalize-numeric-attributes-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Normalize numeric attributes</a></span></li></ul></li><li><span><a href="#Split-to-training-and-validation-set" data-toc-modified-id="Split-to-training-and-validation-set-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Split to training and validation set</a></span></li><li><span><a href="#Logistic-Regression" data-toc-modified-id="Logistic-Regression-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Logistic Regression</a></span></li><li><span><a href="#Random-Forest" data-toc-modified-id="Random-Forest-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Random Forest</a></span></li><li><span><a href="#Examine-the-Office-Visit-Measurements" data-toc-modified-id="Examine-the-Office-Visit-Measurements-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Examine the Office Visit Measurements</a></span></li><li><span><a href="#Examine-the-initial-admission-measurements" data-toc-modified-id="Examine-the-initial-admission-measurements-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Examine the initial admission measurements</a></span></li><li><span><a href="#Examine-the-HIS" data-toc-modified-id="Examine-the-HIS-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Examine the HIS</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

pd.options.display.max_rows = 400
pd.options.display.max_columns = 50

# Import data

In [6]:
%cd ~/desktop/datasets/processed

/Users/jinchenxie/Desktop/datasets/processed

In [7]:
baseline = pd.read_excel('Filtered Attributes Baseline.xlsx', 
                          'updated_folup_NA30_baseline')

In [8]:
admission = pd.read_excel('Filtered Attributes Admission.xlsx', 
                          'NA2030_filtered_admission')

In [52]:
%cd ~/desktop/HF_Research/datasets

/Users/jinchenxie/Desktop/HF_Research/datasets

In [53]:
baseline_old = pd.read_excel('Advanced Therapy Potential Cohort.xlsx', 
                          'cohort baseline')

In [20]:
admission_old = pd.read_excel('Advanced Therapy Potential Cohort.xlsx', 
                          'admission (upto 15th)')

# create 'readmit_30' label in baseline data
This label only considers the 30-day readmission after the index admission.

In [23]:
admission_1 = admission_old[admission_old['INDEX_HOSPITALIZATION']==1]

In [24]:
readmit_30_label = admission_1.readmit_30_label
readmit_30_label.reset_index(drop=True, inplace=True)

In [25]:
baseline['readmit_30'] = readmit_30_label

# Extract only attributes in the 'Static Characteristic' dict

In [30]:
attris_1 = ['AGE_ADMISSION','FEMALE','RACE',
            'TOBACCO_STATUS_LABEL','HOSP_ROLLUP_GROUPING2']

attris_his = ['HTN_HST','HYPERLIPIDEMIA_HST','DIAB_HST','COPD_HST','CAD_HST',
'CHF_HST','AFIB_HST','PH_HST','PE_HST','CARDIAC_ARREST_HST','VTVF_HST',
'VASCULARDISEASE_HST','DVT_HST','STROKE_HST','HEMO_STROKE_HST',
'MAJOR_BLEED_HST','CKD_HST','ESRD_HST','CIRRHOSIS_HST','HX_SEPTIC_SHOCK',
'HX_SEPSIS','HX_CAROTID_OCCLUSION','RESTRICTIVE_CARDIOMYOPATHY',
'HYPERTROPHIC_CARDIOMYOPATHY','ISCHEMIC_CARDIOMYOPATHY','PERIPARTUM_CARDIOMYOPATHY',
'VIRAL_CARDIOMYOPATHY','DILATED_CARDIOMYOPATHY','ALCOHOLIC_CARDIOMYOPATHY']

attris_cci = ['CCI_MI','CCI_CHF','CCI_PERIPHERAL_VASC','CCI_CEREBROVASCULAR',
              'CCI_DEMENTIA','CCI_COPD','CCI_RHEUMATIC_DISEASE',
              'CCI_PEPTIC_ULCER','CCI_MILD_LIVER_DISEASE','CCI_DM_NO_CC',
              'CCI_DM_WITH_CC','CCI_HEMIPLEGIA','CCI_RENAL_DISEASE',
              'CCI_AIDS_HIV','CCI_TOTAL_SCORE']

attris_pre = ['PRE_CRT','PRIOR_STERNOTOMY','PRIOR_PCI','PRIOR_CABG',
              'PRIOR_TAVR','PRIOR_SAVR_MECH','PRIOR_SAVR_BIO',
              'PRIOR_SURG_AO_GRFT','PRIOR_ENDO_AO_GRFT','PRIOR_AO_VLV_REPAIR',
              'PRIOR_SMVR','PRIOR_SPVR','PRIOR_STVR']

label = ['readmit_30']

In [31]:
attris_all = ['rID']
[attris_all.append(i) for i in attris_1]
[attris_all.append(i) for i in attris_his]
[attris_all.append(i) for i in attris_cci]
[attris_all.append(i) for i in label]

[None]

In [33]:
data_raw = baseline[attris_all]
static_data = baseline[attris_all]

In [34]:
static_data.describe()

,rID,AGE_ADMISSION,FEMALE,HTN_HST,HYPERLIPIDEMIA_HST,DIAB_HST,COPD_HST,CAD_HST,CHF_HST,AFIB_HST,PH_HST,PE_HST,CARDIAC_ARREST_HST,VTVF_HST,VASCULARDISEASE_HST,DVT_HST,STROKE_HST,HEMO_STROKE_HST,MAJOR_BLEED_HST,CKD_HST,ESRD_HST,CIRRHOSIS_HST,HX_SEPTIC_SHOCK,HX_SEPSIS,HX_CAROTID_OCCLUSION,RESTRICTIVE_CARDIOMYOPATHY,HYPERTROPHIC_CARDIOMYOPATHY,ISCHEMIC_CARDIOMYOPATHY,PERIPARTUM_CARDIOMYOPATHY,VIRAL_CARDIOMYOPATHY,DILATED_CARDIOMYOPATHY,ALCOHOLIC_CARDIOMYOPATHY,CCI_MI,CCI_CHF,CCI_PERIPHERAL_VASC,CCI_CEREBROVASCULAR,CCI_DEMENTIA,CCI_COPD,CCI_RHEUMATIC_DISEASE,CCI_PEPTIC_ULCER,CCI_MILD_LIVER_DISEASE,CCI_DM_NO_CC,CCI_DM_WITH_CC,CCI_HEMIPLEGIA,CCI_RENAL_DISEASE,CCI_AIDS_HIV,CCI_TOTAL_SCORE,readmit_30
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000
mean,6256.639825,60.913923,0.353828,0.550972,0.421658,0.391908,0.182071,0.447838,0.669972,0.268148,0.023007,0.036493,0.009520,0.138834,0.107497,0.026180,0.080524,0.007537,0.089647,0.112257,0.035303,0.014280,0.000397,0.007537,0.034907,0.000397,0.003173,0.074177,0.002777,0.000397,0.038873,0.006347,0.085680,0.644982,0.319318,0.099960,0.003967,0.192384,0.025387,0.014280,0.027370,0.270528,0.132487,0.004760,0.163427,0.002777,2.301864,0.237207
std,3527.603018,10.898928,0.478251,0.497494,0.493922,0.488273,0.385979,0.497370,0.470316,0.443083,0.149955,0.187552,0.097124,0.345842,0.309806,0.159702,0.272156,0.086504,0.285732,0.315745,0.184582,0.118666,0.019917,0.086504,0.183580,0.019917,0.056254,0.262111,0.052631,0.019917,0.193332,0.079429,0.279947,0.478614,0.466305,0.300007,0.062869,0.394251,0.157328,0.118666,0.163192,0.444321,0.339087,0.068842,0.369828,0.052631,1.791213,0.425455
min,5.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3200.000000,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,6391.000000,63.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
75%,9282.000000,69.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
max,12280.000000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,1.000000

# Normalize numeric attributes

Normalization:  
(x - min(x)) / (max(x) - min(x))  
data_norm

In [35]:
attris_numeric = ['AGE_ADMISSION','CCI_TOTAL_SCORE']

In [36]:
data_norm = data_raw.copy()
for attri in attris_numeric:
    data_norm[attri] = ((data_raw[attri]-data_raw[attri].min())/
                       (data_raw[attri].max()-data_raw[attri].min()))

# One-hot representation for categorical attributes

In [37]:
attris_cat = ['RACE', 'TOBACCO_STATUS_LABEL','HOSP_ROLLUP_GROUPING2']

In [38]:
data_norm[attris_cat]

       RACE          TOBACCO_STATUS_LABEL HOSP_ROLLUP_GROUPING2
0     Black                       CURRENT            Commercial
1     White                         NEVER              Medicare
2     White                         NEVER              Medicare
3     White      QUIT (UNKNOWN TIMEFRAME)              Medicare
4     White                       CURRENT              Medicare
...     ...                           ...                   ...
2516  Black  REMOTE (MORE THAN 12 MONTHS)            Commercial
2517  White                       CURRENT              Medicaid
2518  White                         NEVER              Medicaid
2519  White      QUIT (UNKNOWN TIMEFRAME)              Medicare
2520  White                       CURRENT              Medicare

[2521 rows x 3 columns]

## RACE

alter RACE to binary with 'White' 1 and 'Others' 0.

In [39]:
data_processed = data_norm.copy()

In [40]:
data_processed = pd.get_dummies(data=data_processed, columns=['RACE'])

data_processed.drop(columns=['RACE_America','RACE_Chinese','RACE_Decline','RACE_Indian',
                            'RACE_Not Spe', 'RACE_Other A','RACE_Vietnam','RACE_Black'],inplace=True)

## TOBACCO STATUS

In [41]:
data_processed['TOBACCO_STATUS_LABEL'].value_counts()

QUIT (UNKNOWN TIMEFRAME)        951
NEVER                           732
CURRENT                         434
RECENT (WITHIN 12 MONTHS)       148
REMOTE (MORE THAN 12 MONTHS)    129
UNKNOWN                          97
NEVER ASKED                      21
PASSIVE                           9
Name: TOBACCO_STATUS_LABEL, dtype: int64

3 LEVEL OF SMOKING STATUS
- QUIT/REMOTE
- NEVER
- CURRENT/RECENT

In [42]:
temp_series = data_processed['TOBACCO_STATUS_LABEL']

for i in range(len(temp_series)):
    if (temp_series[i]=='QUIT (UNKNOWN TIMEFRAME)' or 
       temp_series[i]=='REMOTE (MORE THAN 12 MONTHS)'):
        temp_series[i] = 'Q/Remote'
    elif (temp_series[i]=='CURRENT' or 
       temp_series[i]=='RECENT (WITHIN 12 MONTHS)'):
        temp_series[i] = 'C/Recent'
    elif (temp_series[i]=='NEVER'):
        temp_series[i] = 'Never'
    else:
        temp_series[i] = 'NA'

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [43]:
data_processed['TOBACCO_STATUS_LABEL'] = temp_series

In [44]:
temp_series.value_counts()

Q/Remote    1080
Never        732
C/Recent     582
NA           127
Name: TOBACCO_STATUS_LABEL, dtype: int64

In [45]:
data_processed = pd.get_dummies(data=data_processed,
                               columns=['TOBACCO_STATUS_LABEL'],
                               prefix=['TOBACCO']
                               )
data_processed.drop('TOBACCO_NA',1,inplace=True)

## Insurance Payer

In [46]:
data_processed['HOSP_ROLLUP_GROUPING2'].value_counts()

Medicare        1457
Commercial       617
Medicaid         377
Self Pay/ Ot      70
Name: HOSP_ROLLUP_GROUPING2, dtype: int64

In [47]:
data_processed = pd.get_dummies(data=data_processed,
                               columns=['HOSP_ROLLUP_GROUPING2'],
                               prefix=['INSUR']
                               )

# Save the cleaned and processed dataset

In [48]:
%pwd
%cd processed

/Users/jinchenxie/Desktop/HF_Research/datasets/processed

In [50]:
writer = pd.ExcelWriter('Static Characteristics.xlsx')
data_processed.to_excel(writer, 'static')
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

# Office visit attributes

In [ ]:
'DAYS_TO_CLOSEST_OFFICE_VISIT', 'DEPARTMENT_SPECIALTY'

In [110]:
attris_office = [ 'BP_SYSTOLIC',
       'BP_DIASTOLIC', 'PULSE', 'BMI','WBC',  'HGB',
       'CR', 'EGFR', 'K',  'NA',
        'GLUCOSE','ALBUMIN',
       'PLATELETS',  'HCT',  'BNP', 
       'BILI',  'INR', 'MED_FOUND', 'ASA_00', 'WARFARIN_00',
       'NOAC_00', 'APT_00', 'BB_00', 'ACE_ARB_00', 'AAD_CLASS_I_00',
       'AAD_CLASS_III_00', 'INSULIN_00', 'METFORMIN_00', 'SGLT2_INHIBITORS_00',
       'DPP4_INHIBTOR_00', 'TZD_00', 'GLP1_00', 'SULFONYLUREA_00']

In [111]:
data_office = baseline[attris_office]
static_office = pd.concat([data_processed, data_office], axis=1)

In [112]:
static_office[attris_office].isna().sum()

BP_SYSTOLIC            154
BP_DIASTOLIC           181
PULSE                  409
BMI                    231
WBC                    261
HGB                    257
CR                     209
EGFR                   222
K                      214
NA                     213
GLUCOSE                243
ALBUMIN                658
PLATELETS              260
HCT                    258
BNP                    651
BILI                   705
INR                    537
MED_FOUND                0
ASA_00                   0
WARFARIN_00              0
NOAC_00                  0
APT_00                   0
BB_00                    0
ACE_ARB_00               0
AAD_CLASS_I_00           0
AAD_CLASS_III_00         0
INSULIN_00               0
METFORMIN_00             0
SGLT2_INHIBITORS_00      0
DPP4_INHIBTOR_00         0
TZD_00                   0
GLP1_00                  0
SULFONYLUREA_00          0
dtype: int64

## Mean imputation on office measurements except BMI

In [113]:
office_measures = ['BP_SYSTOLIC','BP_DIASTOLIC', 'PULSE', 'WBC',  'HGB',
       'CR', 'EGFR', 'K',  'NA', 'GLUCOSE','ALBUMIN',
       'PLATELETS',  'HCT',  'BNP', 'BILI',  'INR']

In [114]:
data_office_filled = static_office.copy()

In [115]:
for m in office_measures:
    na_df = data_office_filled.loc[data_office_filled[m].isna()]
    # data_filled exclude patients with missing values
    na_rid = na_df.rID
    filtered_rid = [i for i in data_office_filled.rID if i not in na_rid]
    data_filtered = data_office_filled.loc[data_office_filled['rID'].isin(filtered_rid)]
    mean = data_filtered[m].mean()
    data_office_filled.loc[(data_office_filled['rID'].isin(na_rid)),m]=mean

## Mean Imputation on BMI

Use the mean of same gender people to fill the NA values.

In [142]:
data_filled = data_office_filled.copy()

In [143]:
bmi_na = data_filled.loc[data_filled['BMI'].isna()]

In [144]:
bmi_na.FEMALE.value_counts()

0    130
1    101
Name: FEMALE, dtype: int64

In [145]:
# data_filled exclude patients with missing BMI
na_rid = bmi_na.rID
filtered_rid = [i for i in data_filled.rID if i not in na_rid]
data_filtered = data_filled.loc[data_filled['rID'].isin(filtered_rid)]

In [146]:
female_bmi_mean = data_filtered.loc[data_filtered['FEMALE']==1]['BMI'].mean()
male_bmi_mean = data_filtered.loc[data_filtered['FEMALE']==0]['BMI'].mean()

In [147]:
data_filled.loc[(data_filled['FEMALE']==1) & (data_filled['rID'].isin(na_rid)),'BMI']=female_bmi_mean

data_filled.loc[(data_filled['FEMALE']==0) & (data_filled['rID'].isin(na_rid)),'BMI']=male_bmi_mean

In [148]:
data_filled.describe()

,rID,AGE_ADMISSION,FEMALE,HTN_HST,HYPERLIPIDEMIA_HST,DIAB_HST,COPD_HST,CAD_HST,CHF_HST,AFIB_HST,PH_HST,PE_HST,CARDIAC_ARREST_HST,VTVF_HST,VASCULARDISEASE_HST,DVT_HST,STROKE_HST,HEMO_STROKE_HST,MAJOR_BLEED_HST,CKD_HST,ESRD_HST,CIRRHOSIS_HST,HX_SEPTIC_SHOCK,HX_SEPSIS,HX_CAROTID_OCCLUSION,...,K,NA,GLUCOSE,ALBUMIN,PLATELETS,HCT,BNP,BILI,INR,MED_FOUND,ASA_00,WARFARIN_00,NOAC_00,APT_00,BB_00,ACE_ARB_00,AAD_CLASS_I_00,AAD_CLASS_III_00,INSULIN_00,METFORMIN_00,SGLT2_INHIBITORS_00,DPP4_INHIBTOR_00,TZD_00,GLP1_00,SULFONYLUREA_00
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,...,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.0,2521.0,2521.0
mean,6256.639825,0.748463,0.353828,0.550972,0.421658,0.391908,0.182071,0.447838,0.669972,0.268148,0.023007,0.036493,0.009520,0.138834,0.107497,0.026180,0.080524,0.007537,0.089647,0.112257,0.035303,0.014280,0.000397,0.007537,0.034907,...,4.186010,137.587293,127.996527,3.362416,219.169740,37.308404,1053.078829,0.969557,1.644204,0.993257,0.629909,0.273304,0.082904,0.197144,0.788973,0.592622,0.389131,0.014677,0.202697,0.159064,0.000793,0.044030,0.0,0.0,0.0
std,3527.603018,0.194624,0.478251,0.497494,0.493922,0.488273,0.385979,0.497370,0.470316,0.443083,0.149955,0.187552,0.097124,0.345842,0.309806,0.159702,0.272156,0.086504,0.285732,0.315745,0.184582,0.118666,0.019917,0.086504,0.183580,...,0.886147,3.665089,55.145758,0.477016,79.536514,5.958278,876.002859,0.834305,0.857134,0.081857,0.482925,0.445744,0.275791,0.397921,0.408119,0.491444,0.487650,0.120279,0.402089,0.365808,0.028161,0.205203,0.0,0.0,0.0
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.300000,111.000000,29.000000,1.400000,11.000000,18.200000,11.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,3200.000000,0.642857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.800000,136.000000,95.000000,3.200000,168.000000,33.400000,492.000000,0.600000,1.100000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
50%,6391.000000,0.785714,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.186596,137.570736,115.000000,3.362616,215.000000,37.312348,1059.572994,0.972799,1.400000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
75%,9282.000000,0.892857,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.500000,140.000000,139.000000,3.600000,251.000000,41.200000,1080.000000,1.000000,1.640465,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
max,12280.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,40.000000,151.000000,597.000000,5.600000,829.000000,77.600000,11799.000000,27.100000,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0

## Normalize numeric attributes

In [149]:
attris_numeric2 = ['BMI','WBC',  'HGB',
       'CR', 'EGFR', 'K',  'NA',
        'GLUCOSE','ALBUMIN',
       'PLATELETS',  'HCT',  'BNP', 
       'BILI',  'INR']

In [150]:
data_filled_norm = data_filled.copy()
for attri in attris_numeric2:
    data_filled_norm[attri] = ((data_filled[attri]-data_filled[attri].min())/
                       (data_filled[attri].max()-data_filled[attri].min()))

In [173]:
data_filled_norm[attris_numeric2].describe()

,BMI,WBC,HGB,CR,EGFR,K,NA,GLUCOSE,ALBUMIN,PLATELETS,HCT,BNP,BILI,INR
count,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000,2521.000000
mean,0.292009,0.017813,0.331607,0.074078,0.043142,0.050027,0.664682,0.174290,0.467242,0.254486,0.321690,0.088402,0.032206,0.137017
std,0.126264,0.021734,0.101711,0.069516,0.028344,0.023505,0.091627,0.097088,0.113575,0.097233,0.100308,0.074313,0.030900,0.071428
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.206516,0.012076,0.262626,0.044059,0.029727,0.039788,0.625000,0.116197,0.428571,0.191932,0.255892,0.040804,0.018519,0.091667
50%,0.286930,0.016964,0.331648,0.056436,0.043147,0.050042,0.664268,0.151408,0.467290,0.249389,0.321757,0.088953,0.032326,0.116667
75%,0.350624,0.020702,0.398990,0.074156,0.053667,0.058355,0.725000,0.193662,0.523810,0.293399,0.387205,0.090685,0.033333,0.136705
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Split to training and validation set

In [152]:
y = data_filled_norm['readmit_30']

In [163]:
y = baseline['CTB']

In [153]:
data_filled_norm.drop('rID', 1, inplace=True)

In [154]:
data_filled_norm.drop('readmit_30', 1, inplace=True)

In [155]:
import sklearn.model_selection as model_selection

In [164]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(data_filled_norm, y, 
                                        train_size=0.80, test_size=0.20, random_state=1)

# Logistic Regression

In [188]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import accuracy_score, roc_auc_score

In [185]:
model_lr = LogisticRegressionCV(15, max_iter=1500)
model_lr.fit(X_train, y_train)

/Users/jinchenxie/miniconda3/envs/research_env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

LogisticRegressionCV(Cs=15, class_weight=None, cv='warn', dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=1500, multi_class='warn', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [189]:
LR_predicted = model_lr.predict(X_test)
LR_accuracy = accuracy_score(y_test, LR_predicted)
LR_auc = roc_auc_score(y_test, LR_predicted)

In [190]:
LR_accuracy

0.6217821782178218

In [191]:
LR_auc

0.6238223101563971

In [177]:
y_test.value_counts()/len(y_test)

1    0.516832
0    0.483168
Name: CTB, dtype: float64

# Random Forest

In [179]:
from sklearn.ensemble import RandomForestClassifier

In [180]:
model_rf = RandomForestClassifier(n_estimators = 50, random_state = 0, max_depth=30)

In [181]:
model_rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=30, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [192]:
RF_predicted = model_rf.predict(X_test)
RF_accuracy = accuracy_score(y_test, RF_predicted)
RF_auc = roc_auc_score(y_test, RF_predicted)

In [193]:
RF_accuracy

0.6376237623762376

In [194]:
RF_auc

0.6399488097481314

# Examine the Office Visit Measurements

1. Examine the 'DAYS_TO_CLOSEST_OFFICE_VISIT' attribute

In [7]:
baseline[['rID','DAYS_TO_CLOSEST_OFFICE_VISIT']]

        rID  DAYS_TO_CLOSEST_OFFICE_VISIT
0         5                           -63
1        10                            -3
2        16                             0
3        28                             6
4        31                             8
...     ...                           ...
2516  12247                            -2
2517  12253                             7
2518  12260                            51
2519  12263                            61
2520  12280                            24

[2521 rows x 2 columns]

In [9]:
office_time_df = baseline.loc[(baseline['DAYS_TO_CLOSEST_OFFICE_VISIT']>50) | 
                             (baseline['DAYS_TO_CLOSEST_OFFICE_VISIT']<-50)]

In [10]:
office_time_df[['rID', 'DAYS_TO_CLOSEST_OFFICE_VISIT']]

        rID  DAYS_TO_CLOSEST_OFFICE_VISIT
0         5                           -63
6        40                            89
15      103                            52
19      120                            81
22      148                            59
32      175                           -77
33      178                            90
35      194                            61
36      195                            58
41      211                            76
43      221                            89
53      265                            75
69      376                            77
93      471                            65
118     574                           -54
128     624                            53
132     642                            55
136     665                            69
146     709                            66
158     774                           -89
161     788                           -68
169     829                            53
170     830                            51
184     883                            66
198     947                            63
202     965                            57
204     980                            81
219    1036                            73
226    1073                            72
227    1088                            55
239    1159                           -52
268    1326                           -55
274    1355                            77
282    1383                           -86
291    1425                            62
296    1453                            74
307    1482                            52
340    1678                            66
342    1694                            81
365    1829                            53
367    1841                           -53
375    1896                           -83
391    1968                            84
410    2064                            61
416    2093                            89
428    2133                            71
440    2190                            53
449    2225                           -63
493    2488                           -73
519    2634                            51
544    2758                            78
547    2766                            51
555    2823                            66
574    2940                            71
580    2965                            75
593    3015                            55
594    3024                            65
600    3036                           -56
604    3056                            57
616    3110                           -87
618    3132                            61
626    3173                           -74
630    3200                            56
632    3203                           -52
649    3310                            59
650    3312                            68
660    3365                            58
663    3378                            79
681    3501                            75
683    3518                            71
685    3528                            62
696    3575                           -61
698    3581                            88
711    3649                            61
712    3652                            83
746    3807                            53
752    3833                            57
755    3846                            55
762    3872                            86
767    3924                            55
778    3959                            87
791    4071                            62
793    4080                            67
818    4247                           -59
842    4412                            64
844    4421                            52
868    4530                           -64
878    4560                            58
883    4573                            58
904    4684                            73
905    4691                            76
907    4697                            55
908    4708                            62
915    4729                            74
917    4736                            53
925    4784                            63
943    4871                            63
968    4966                            82
974    4991                           -79
995    5100                           -59
1006   5168                           -84
1022   5243                            67
1028   5268                            66
1029   5270                            60
1030   5277                            54
1039   5321                            60
1049   5391                            80
1059   5429                           -67
1063   5454                           -90
1065   5476                            69
1080   5548                            86
1081   5549                           -54
1085   5565                           -75
1088   5583                           -62
1094   5598                            55
1098   5619                            55
1100   5629                            53
1102   5640                            56
1123   5758                            57
1124   5759                            74
1138   5853                            53
1147   5901                            55
1153   5935                           -64
1163   5979                           -62
1187   6088                            73
1211   6193                            72
1215   6205                            89
1244   6320                            59
1250   6341                           -51
1258   6386                            54
1280   6491                            55
1284   6515                           -56
1285   6519                            59
1300   6576                            63
1310   6616                            54
1317   6630                            52
1323   6679                            73
1339   6785                            55
1341   6799                            84
1368   6933                            69
1379   6979                            61
1386   7016                            70
1391   7029                           -73
1396   7047                           -52
1398   7057                            82
1411   7113                            51
1420   7154                            84
1431   7230                            59
1439   7262                            62
1441   7277                            52
1451   7314                           -74
1456   7324                            56
1471   7393                            51
1479   7418                            65
1485   7434                            62
1492   7461                            52
1508   7517                            58
1529   7615                            63
1537   7655                           -65
1601   8031                            54
1608   8050                           -67
1619   8093                            59
1649   8221                           -71
1663   8279                           -85
1667   8305                            65
1668   8311                            55
1678   8348                           -74
1680   8352                            70
1693   8384                            52
1694   8399                            66
1704   8438                           -56
1723   8531                            59
1729   8547                            74
1736   8574                           -89
1739   8580                            64
1765   8707                           -52
1779   8758                           -78
1785   8786                           -58
1794   8822                           -62
1796   8824                            52
1805   8857                           -85
1806   8859                           -85
1826   8964                            53
1832   8995                            59
1845   9065                           -75
1846   9068                           -80
1850   9086                            80
1880   9242                            59
1895   9303                            63
1911   9381                            71
1912   9388                           -81
1914   9406                            51
1936   9543                            54
1945   9585                           -73
1946   9592                            67
1955   9613                            56
1958   9633                            56
1960   9642                            60
1973   9689                            87
1996   9793                           -77
2020   9870                            54
2024   9889                            55
2027   9900                            56
2031   9911                           -82
2036   9933                            51
2040   9948                            82
2065  10066                            80
2066  10069                            65
2076  10128                            78
2085  10163                            53
2087  10175                            81
2088  10176                            52
2098  10205                            62
2122  10323                           -90
2132  10353                            84
2133  10363                            60
2135  10372                           -61
2145  10434                            61
2170  10614                            53
2172  10619                            89
2189  10702                            75
2191  10715                            52
2201  10754                            57
2211  10781                            82
2214  10796                            69
2223  10828                            81
2234  10862                           -69
2235  10864                           -54
2256  10968                            56
2257  10976                            55
2269  11010                            73
2287  11083                            62
2299  11156                            61
2304  11179                            51
2317  11228                            85
2329  11297                            87
2332  11308                            57
2340  11355                           -88
2342  11360                            89
2349  11386                           -89
2398  11655                            71
2411  11693                            52
2416  11710                           -56
2422  11749                            82
2426  11766                            59
2429  11797                           -55
2432  11803                            63
2436  11818                            66
2437  11819                            75
2443  11873                           -58
2444  11875                           -79
2450  11907                            74
2453  11933                           -87
2457  11964                            55
2458  11968                            88
2461  11972                           -74
2467  12001                            76
2476  12080                            53
2493  12155                            77
2503  12196                           -63
2518  12260                            51
2519  12263                            61

In [195]:
office_rID = office_time_df.rID
readmit_time_df = admission.loc[admission['rID'].isin(office_rID)]
readmit_time_df[['rID', 'LOS_DAYS','READMISSION_DAYS']][:100]

     rID  LOS_DAYS  READMISSION_DAYS
0      5     3.121               NaN
1      5     2.394            58.847
2      5     2.194           600.973
3      5     0.892           697.292
18    40    17.316               NaN
19    40     2.955             7.942
20    40     1.376           119.382
53   103     3.097               NaN
54   103     8.142            29.909
55   103     5.332            57.691
56   103     5.078           268.966
57   103     5.808           281.223
58   103     3.877           374.318
59   103     7.111           387.977
60   103     7.864           440.123
61   103    13.031           464.032
62   103     6.917           534.335
90   120     3.927               NaN
91   120     4.781            24.299
92   120     9.832            39.067
93   120    33.253            93.773
107  148    38.281               NaN
108  148     6.702             3.264
109  148     2.472            21.278
110  148     4.010           172.010
111  148     4.303          1171.658
112  148     2.809          1266.177
113  148     2.824          1299.003
114  148    14.107          1320.878
134  175     3.363               NaN
135  175     3.925            23.859
136  175     1.888           115.972
137  175     2.813           129.017
138  175     5.869           276.917
139  175     8.453           548.477
140  175     3.702           650.018
141  178     7.310               NaN
145  194     7.027               NaN
146  194     2.300           836.769
147  194     6.355          1089.595
148  194     2.103          1104.624
149  194     1.298          1158.514
150  194     2.755          1844.042
151  194     0.885          1860.999
152  195     3.094               NaN
153  195    30.931           639.202
154  195    40.813           729.026
176  211     3.358               NaN
177  211     3.341            29.613
178  211     3.728           182.287
179  211     4.310           200.823
180  211    13.742           226.988
181  211     5.090           242.924
182  211     1.008           324.965
184  221     4.326               NaN
185  221     8.122          1646.769
227  265     6.855               NaN
228  265     8.132            71.991
229  265     6.037            88.042
230  265     5.742           187.268
231  265     2.750           300.149
232  265     5.643           595.317
233  265     0.808           648.275
306  376     2.500               NaN
307  376     1.358           269.669
442  471     4.126               NaN
443  471     9.824             0.082
533  574     5.216               NaN
534  574     2.283           121.734
535  574     9.181           405.882
536  574     3.452           530.409
609  624     7.076               NaN
622  642     1.942               NaN
623  642     6.889           432.045
624  642    12.098           500.974
625  642     7.025           446.038
626  642     2.897           459.064
627  642     1.872           526.140
628  642    13.019           586.052
629  642     1.056           791.959
630  642     1.132           942.990
631  642     5.444          1103.056
632  642     4.931          1108.522
647  665     4.740               NaN
648  665     2.319          1634.881
649  665     4.559          1649.607
650  665     6.858          2098.314
651  665     6.509          2126.449
652  665     2.983          2707.276
696  709     4.433               NaN
697  709     5.726            23.333
698  709    16.156          1585.793
760  774     4.328               NaN
761  774     7.952           123.128
762  774     7.038           188.842
769  788     2.115               NaN
770  788     1.371          1161.513
813  829     4.049               NaN
814  829     0.667             9.401
815  829     7.922            10.104

# Examine the initial admission measurements

In [55]:
baseline_old.loc[baseline_old['total_adms']>1].shape

(2083, 290)

In [56]:
baseline_old.loc[baseline_old['total_adms']==1].shape

(438, 290)

In [57]:
baseline_old.shape

(2521, 290)

In [58]:
baseline.shape

(2521, 143)

# Examine the HIS

In [60]:
his_df = baseline[attris_his]

In [61]:
his_df.sum()

HTN_HST                        1389
HYPERLIPIDEMIA_HST             1063
DIAB_HST                        988
COPD_HST                        459
CAD_HST                        1129
CHF_HST                        1689
AFIB_HST                        676
PH_HST                           58
PE_HST                           92
CARDIAC_ARREST_HST               24
VTVF_HST                        350
VASCULARDISEASE_HST             271
DVT_HST                          66
STROKE_HST                      203
HEMO_STROKE_HST                  19
MAJOR_BLEED_HST                 226
CKD_HST                         283
ESRD_HST                         89
CIRRHOSIS_HST                    36
HX_SEPTIC_SHOCK                   1
HX_SEPSIS                        19
HX_CAROTID_OCCLUSION             88
RESTRICTIVE_CARDIOMYOPATHY        1
HYPERTROPHIC_CARDIOMYOPATHY       8
ISCHEMIC_CARDIOMYOPATHY         187
PERIPARTUM_CARDIOMYOPATHY         7
VIRAL_CARDIOMYOPATHY              1
DILATED_CARDIOMYOPATHY           98
ALCOHOLIC_CARDIOMYOPATHY         16
dtype: int64

In [65]:
admission['PATIENT_TYPE_DESCRIPTION'].value_counts()

I  INPATIENT        12114
S  SAME DAY SERV      389
EMERGENCY DEPT         20
DO DIRECT OBS           2
Name: PATIENT_TYPE_DESCRIPTION, dtype: int64

In [66]:
admission['IPOP'].value_counts()

IP        12114
OBS         332
OUTPAT       76
EDTRAN        2
EDTR          1
Name: IPOP, dtype: int64

In [69]:
baseline.columns[:100]

Index(['rID', 'LOS_DAYS', 'HOSP_CR', 'HOSP_BILI', 'HOSP_INR', 'HOSP_NA',
       'HOSP_EGFR', 'PRIMARY_DIAGNOSIS_CODE', 'PRIMARY_DIAGNOSIS_DESCRIPTION',
       'AGE_ADMISSION', 'FEMALE', 'RACE', 'BMI',
       'DAYS_TO_CLOSEST_OFFICE_VISIT', 'DEPARTMENT_SPECIALTY', 'BP_SYSTOLIC',
       'BP_DIASTOLIC', 'PULSE', 'FINANCIAL_CLASS_CODE', 'FINANCIAL_CLASS',
       'HOSP_ROLLUP_GROUPING1', 'HOSP_ROLLUP_GROUPING2', 'DC_MILRINONE',
       'DC_DOBUTAMINE', 'DC_DOPAMINE', 'LVEF', 'CLOSEST_LVEF_DAYS', 'RV_FUNC',
       'CLOSEST_RV_FUNC_DAYS', 'AR', 'CLOSEST_AR_DAYS', 'MR',
       'CLOSEST_MR_DAYS', 'PR', 'CLOSEST_PR_DAYS', 'TR', 'CLOSEST_TR_DAYS',
       'PRE_CRT', 'PRIOR_STERNOTOMY', 'PRIOR_PCI', 'PRIOR_CABG', 'PRIOR_TAVR',
       'PRIOR_SAVR_MECH', 'PRIOR_SAVR_BIO', 'PRIOR_SURG_AO_GRFT',
       'PRIOR_ENDO_AO_GRFT', 'PRIOR_AO_VLV_REPAIR', 'PRIOR_SMVR', 'PRIOR_SPVR',
       'PRIOR_STVR', 'HTN_HST', 'HYPERLIPIDEMIA_HST', 'DIAB_HST', 'COPD_HST',
       'CAD_HST', 'CHF_HST', 'AFIB_HST', 'PH_HST', 'PE_HST',
       'CARDIAC_ARREST_HST', 'VTVF_HST', 'VASCULARDISEASE_HST', 'DVT_HST',
       'STROKE_HST', 'HEMO_STROKE_HST', 'MAJOR_BLEED_HST', 'CKD_HST',
       'ESRD_HST', 'CIRRHOSIS_HST', 'TOBACCO_STATUS_LABEL', 'HX_SEPTIC_SHOCK',
       'HX_SEPSIS', 'HX_CAROTID_OCCLUSION', 'HF_ETIOLOGY_LABEL',
       'RESTRICTIVE_CARDIOMYOPATHY', 'HYPERTROPHIC_CARDIOMYOPATHY',
       'ISCHEMIC_CARDIOMYOPATHY', 'PERIPARTUM_CARDIOMYOPATHY',
       'VIRAL_CARDIOMYOPATHY', 'DILATED_CARDIOMYOPATHY',
       'ALCOHOLIC_CARDIOMYOPATHY', 'CCI_MI', 'CCI_CHF', 'CCI_PERIPHERAL_VASC',
       'CCI_CEREBROVASCULAR', 'CCI_DEMENTIA', 'CCI_COPD',
       'CCI_RHEUMATIC_DISEASE', 'CCI_PEPTIC_ULCER', 'CCI_MILD_LIVER_DISEASE',
       'CCI_DM_NO_CC', 'CCI_DM_WITH_CC', 'CCI_HEMIPLEGIA', 'CCI_RENAL_DISEASE',
       'CCI_AIDS_HIV', 'CCI_TOTAL_SCORE', 'MED_FOUND', 'ASA_00', 'WARFARIN_00',
       'NOAC_00'],
      dtype='object')

In [70]:
baseline.columns[100:]

Index(['APT_00', 'BB_00', 'ACE_ARB_00', 'AAD_CLASS_I_00', 'AAD_CLASS_III_00',
       'INSULIN_00', 'METFORMIN_00', 'SGLT2_INHIBITORS_00', 'DPP4_INHIBTOR_00',
       'TZD_00', 'GLP1_00', 'SULFONYLUREA_00', 'WBC', 'WBC_DAYS', 'HGB',
       'HGB_DAYS', 'CR', 'CR_DAYS', 'EGFR', 'EGFR_DAYS', 'K', 'K_DAYS', 'NA',
       'NA_DAYS', 'GLUCOSE', 'GLUCOSE_DAYS', 'ALBUMIN', 'ALBUMIN_DAYS',
       'PLATELETS', 'PLATELETS_DAYS', 'HCT', 'HCT_DAYS', 'BNP', 'BNP_DAYS',
       'BILI', 'BILI_DAYS', 'INR', 'INR_DAYS', 'VERIFIED_MELD', 'RHC_FOUND',
       'CTB', 'FOLLOWUP_DAYS', 'readmit_30'],
      dtype='object')

In [178]:
baseline['HF_ETIOLOGY_LABEL']

0         OTHER
1         OTHER
2         OTHER
3          NONE
4          NONE
         ...
2516       NONE
2517      OTHER
2518      OTHER
2519    ISCHEMI
2520       NONE
Name: HF_ETIOLOGY_LABEL, Length: 2521, dtype: object

In [199]:
admission_old[['rID','PRIMARY_DIAGNOSIS_CODE','PRIMARY_DIAGNOSIS_CODE_TYPE','PRIMARY_DIAGNOSIS_DESCRIPTION']]

,rID,PRIMARY_DIAGNOSIS_CODE,PRIMARY_DIAGNOSIS_CODE_TYPE,PRIMARY_DIAGNOSIS_DESCRIPTION
0,5,I50.23,10,ACUTE ON CHRONIC SYSTOLIC (CONGESTIVE) HEART F...
1,5,J44.1,10,CHRONIC OBSTRUCTIVE PULMONARY DISEASE W (ACUTE...
2,5,J44.1,10,CHRONIC OBSTRUCTIVE PULMONARY DISEASE W (ACUTE...
3,5,I11.0,10,HYPERTENSIVE HEART DISEASE WITH HEART FAILURE
4,10,I50.43,10,ACUTE ON CHRONIC COMBINED SYSTOLIC AND DIASTOL...
...,...,...,...,...
12520,12280,I50.23,10,ACUTE ON CHRONIC SYSTOLIC (CONGESTIVE) HEART F...
12521,12280,T80.211A,10,BLOODSTREAM INFECTION DUE TO CENTRAL VENOUS CA...
12522,12280,I13.0,10,HYP HRT & CHR KDNY DIS W HRT FAIL AND STG 1-4/...
12523,12280,J44.1,10,CHRONIC OBSTRUCTIVE PULMONARY DISEASE W (ACUTE...
12524,12280,I50.23,10,ACUTE ON CHRONIC SYSTOLIC (CONGESTIVE) HEART F...

In [201]:
admission_old['PRIMARY_DIAGNOSIS_DESCRIPTION'].value_counts()

AC-CHR SYSTOL HRT FAIL                                         971
CONGESTVE HRT FAILUR NOS                                       925
HYP HRT & CHR KDNY DIS W HRT FAIL AND STG 1-4/UNSP CHR KDNY    675
ACUTE ON CHRONIC SYSTOLIC (CONGESTIVE) HEART FAILURE           518
AC-CHR COMB S/D HRT FAIL                                       459
                                                              ...
SUBARACHNOID HEMORRHAGE                                          1
CRAMP AND SPASM                                                  1
STAPH SEPTICEMIA NEC                                             1
OTHER SPECIFIED DISORDERS OF BRAIN                               1
IDIOPATHIC GOUT, LEFT KNEE                                       1
Name: PRIMARY_DIAGNOSIS_DESCRIPTION, Length: 1478, dtype: int64